In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vine_table.csv')

In [3]:
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R26MV8D0KG6QI6,5.0,0.0,0.0,N,Y
1,R1OF8GP57AQ1A0,5.0,0.0,0.0,N,Y
2,R3VDC1QB6MC4ZZ,5.0,0.0,0.0,N,N
3,R12FA3DCF8F9ER,5.0,0.0,0.0,N,Y
4,RTWHVNV6X4CNJ,5.0,0.0,0.0,N,Y

In [4]:
df1 = df[df['total_votes'] >= 20]

In [5]:
df2 = df1[df1['helpful_votes']/df1['total_votes'] >= .5]

In [6]:
df2.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
2371,R30PGWX4HN1CFG,1.0,85.0,95.0,N,Y

In [7]:
df_yes = df2[df2['vine'] == 'Y']

In [8]:
df_yes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
78803,R3MKO875WGIEBJ,5.0,34.0,37.0,Y,N
90155,R3OPNTK61FQ7MP,5.0,32.0,37.0,Y,N
302146,RMDRU8I773X5U,4.0,22.0,25.0,Y,N
417135,RR83RGWFEFZCL,3.0,61.0,64.0,Y,N
477241,R2TMZ7GV8SPIRV,4.0,23.0,23.0,Y,N

In [9]:
df_no = df2[df2['vine'] == 'N']

In [10]:
total_yes_reviews = df_yes['review_id'].count()
total_yes_reviews

61

In [11]:
five_star_yes_reviews = df_yes[df_yes['star_rating'] == 5.0]
five_star_yes_reviews = five_star_yes_reviews['review_id'].count()
five_star_yes_reviews

20

In [12]:
percentage_five_star_yes_reviews = five_star_yes_reviews/total_yes_reviews*100
percentage_five_star_yes_reviews

32.78688524590164

In [13]:
total_no_reviews = df_no['review_id'].count()
total_no_reviews

28287

In [14]:
five_star_no_reviews = df_no[df_no['star_rating'] == 5.0]
five_star_no_reviews = five_star_no_reviews['review_id'].count()
five_star_no_reviews

15689

In [15]:
percentage_five_star_no_reviews = five_star_no_reviews/total_no_reviews*100
percentage_five_star_no_reviews

55.463640541591545